

    
a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600 ;
}


p{
    text-align: justify;
    font-family: sans-serif;
    color: #4b5563;
}

.text-medium{
    font-size: 1.35rem;
}

h1{
    font-family: sans-serif;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    
}

h2{
    font-size: 2.25rem;
    font-family: sans-serif;
    line-height: 2.5rem;
    font-weight: 700;
}

h3{
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600 ;
}

label{
    font-family: sans-serif;
    color: #4b5563;
    font-size: 1rem;
    line-height: 1.25rem;
}

input{
    border-radius: 0.3rem;
    padding: 0.75rem;
    font-family: sans-serif;
    border-width: 2px;
    border-style: solid;
    border-color: #d1d5db;
    font-size: 0.9rem;
}

textarea{
    border-radius: 0.3rem;
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    font-family: sans-serif;
    border-width: 2px;
    border-style: solid;
    border-color: #d1d5db;
    font-size: 0.9rem;
}

.page-header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color:white;
}

.page-header a{
    color: #0070f3; 
    padding-left: 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600 ;
}

footer{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0rem 3rem;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2rem;
    gap:1rem;
    font-size: 1.5em;
    font-weight: bold;
    
    
}

.home-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 6rem 10rem;
    gap:2rem;
    background-color: #EAF1FA;
}

img{
    max-width: 100%;
}

.home-banner-text{
    display:flex;
    flex-direction: column;
    justify-content: center; 
    max-width: 50%;
}

.what-i-do{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.text-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 1rem;
    border-radius: 0.5rem;
}

.card-grid-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap:8px;
    gap: 4rem;
    padding: 1rem 3rem;
}

.xs-tool{
    border-radius: 0.25rem;
    color: rgb(0 92 196);
    background-color: rgb(230 241 255);
    font-size: 0.75rem;
    line-height: 1rem; 
    padding: 0.25rem;

}

.project-card-main{
    display: flex; 
    gap: 1rem;
    max-height: 320px;
    margin: 2rem;
}



.contact-me-card-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    border-radius: 0.5rem;
    margin: 5rem 10rem;
    background-color:  #0070f3;
    padding: 2rem;
    text-align: center;

}

.button-div{
    gap: 1rem;
}
.title-subtitle{
    display:flex;
    flex-direction: column;
    align-items:  center;
    
}

.icon-title{
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap:0.75rem;
}
.card-grid-education{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.card-list-education{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 5rem;
    
}

.card-education{
    min-width: 120vh;
    
}

.card-tool{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

.card-grid-tool{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap:2rem;
}

.teck-stack-section{
    display: flex;
    flex-direction: column;
    padding: 0rem 5rem;
}

.banner-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAF1FA;
    padding: 5rem;
}

.card-projects{
    display: flex;
    flex-direction: column;
    
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    gap:2rem; 
    padding: 5rem 4rem;
    background-color: #F9FAFB;
}

.contact-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: #EAF1FA;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.label-input{
    display: flex;
    flex-direction: column;
    gap:0.5rem
}

.contact-body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
    padding: 2rem;
    background-color: #F9FAFB;
}

.contact-info-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.card-contact-form{
    grid-row: 1; 
    align-self: start; 
    height: fit-content;
    padding: 2rem;
    
}
.contact-link{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.icon-card{
    max-width: fit-content;
    background-color: #ebf4ff;
    padding: 1rem 0.5rem;
}

.skills-banner{
    padding: 2rem 0rem;
    background-color: #F9FAFB;
}

.featured-projects{
    padding: 1.25rem;
    background-color: #F3F4F6;
}

.contact-me-card{
    background-color: #F9FAFB;
    padding: 3rem 0rem;
}

.button-blue{
    background-color: #0070f3;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.button-transparent{
    border-color: #d1d5db;
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 2px;
    border-style: solid;
}

.button-light-blue{
    background-color: #78adfd;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.education-banner{
    background-color: #F9FAFB;
    padding-bottom: 4rem;
}

.tech-stack-banner{
    background-color: #F3F4F6;
    padding-bottom: 4rem;
}

#contactBtn{
    max-width: fit-content;
}

.looking-card{
    background-color: #EAF1FA;
    padding: 1rem;
    border-radius: 0.5rem;
}

.project-header-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 2rem;
}

.project-head-info{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.project-header-links{
    margin:auto;
}

.project-body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
}

.project-content{
    grid-column: span 2;
}